@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 10px;
}
.topics ul li:hover {
  color: #fb2c36;
  cursor: pointer;
}

.header-content {
  width: 80%;
  padding: 2.5rem;
}

.main-feature {
  width: 80%;
  margin-top: 5%;
}

.feature-img-container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.main-feature-content {
  padding-left: 2.5rem;
}

.main-feature-content h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content-source-info img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.news-section {
  margin-top: 4%;
}

.news-section-heading {
  margin-left: 10%;
}
.news-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.news-card {
  /* border: solid 1px black; */
  height: 400px;
  width: 290px;
}

.news-card img {
  height: 50%;
  object-fit: cover;
}

.news-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
}
